{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}
{% block body %}
<head>
    <link href="{{ asset('css/style.css') }}" rel="stylesheet"/>
</head>
<body>
    <div class="image-article" style="float:left">
            {% for PHOTOS in photos %}
                {% if PHOTOS.produit.id == id %}  
                    <img src={{PHOTOS.photos}} width="250" height="250">
                {% endif %}
            {% endfor %}

    </div>
    <div class="text-article" style="float:left">
        {% for PRODUIT in produit %}
            {% if PRODUIT.id == id%}
                <h1>{{PRODUIT.nomproduit}}</h1>
                <h2>Description :{{PRODUIT.description}}</h2>
                <h2>Prix :{{PRODUIT.prix}} €</h2>
                <h3>Reférence : {{PRODUIT.reference}} </h3>
                <h5>Créer par {{PRODUIT.fournisseur}}</h5>
            {% endif %}
        {% endfor %}
        </div>
    <div class="text-commander" style="float:right">
    <p>Commander</p>
    <a href="{{ path('app_panier') }}">
        <th><button onclick="/panier">Ajouter au panier</button></th>
    </a>
    </div>
</body>

{% endblock %}
